body{
  background-color: white;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:normal;
  /* same as above:
  font: normal 16px Arial, Helvetica, sans-serif;*/
  line-height: 1.8em;
  margin-left:200px;
  margin-right:250px;

}
#headerz a{
  text-decoration: none;
  color: #000;
}
#headerz a:hover{
  color:red;
}
#headerz a:active{
  color:green;
}
#headerz a:visited{
  color:000;
}
#main-block{
  position:relative;
  font-size: 30px;
  float:left;
  width:64%;
}

#sidebar{
  font-size: 25px;
  position:relative;
  margin:auto;
  //text-align: right;
  float:right;
  width:12%;
}
#sidebar2{
  font-size: 25px;
  position:relative;
  margin:auto;
  //text-align: right;
  float:right;
  width:12%;
}
#sidebar3{
  font-size: 25px;
  position:relative;
  float:right;
  //text-align: right;
  margin:auto;
  width:12%;
}
#contactz h1{
  float:left;
  width:100%;
}
#contactz p{
  float:left;
  width:50%;
}
#contactz a{
  color:blue;
}
#contactz a:hover{
  color:red;
}
.container{
  margin-top:20px;
  float:left;
  font-size: 35px;
  color:black;
  width:80%;
}
.picture{
  position:absolute;
  right:333px;
  top:125px;
  width:20%;
}
.picture2{
  margin-left:26%;
}
.picture3{
  position:absolute;
  right:525px;
  top:125px;
  width:20%;
}
.uppercase{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container2{
  float:left;
  width:60%;
}
.skills{
  float:left;
  width:40%;
}
.traits{
  float:right;
  width:50%;
}
.project{
  float:left;
  margin-bottom: 50px;
  width:100%
}

#bank{
  float:left;
  width:100%;
}
.bankAcc p{
  position: absolute;
  left: 250px;
  top: 350px;
}

.more p{
  position: absolute;
  left: 500px;
  top: 250px;
  font-size: 30px;
  text-decoration: none;
}
.more a{
  color:black;
}
#headerz2 a:visited{
  color:black;
}
.bankAcc a:visited{
  color:black;
}
